.test {



    .noArrow {
        * {

            pointer-events: auto ! important;
            cursor: not-allowed ! important;
        }

        .accordion-button {
            &::after {
                display: none !important;
            }
        }
    }

    .accordion-button {
        &::after {
            transform: rotate(-90deg) !important;

        }
    }

    .accordion-button:not(.collapsed)::after {
        transform: rotate(0deg) !important;
    }

}

.whatsapp_template_card {
    background-color: rgb(255, 255, 255);
    position: relative;

    &::before {
       
        content: '';
        position: absolute;
        top: 0;
        left: -10px;
        border: 10px solid transparent;
        border-top: 10px solid #fff;

    }
}